.Info-word {
  color: #1cb1a8;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

/* kitty theme */
.Info-word-kitty {
  color: #ffa726;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
