.Meaning-div {
  clear: both;
  margin-bottom: 15px;
}
.Meaning-part {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 0;
}
.Meaning-definition {
  font-size: 16px;
  margin: 5px 0;
}
.Meaning-example {
  display: block;
  opacity: 0.6;
  padding-left: 20px;
  font-style: italic;
}
