.Synonyms-ul {
  list-style-type: none;
  padding: 0;
}
.Synonyms-li {
  background: #e3fafa;
  color: #1cb1a8;
  display: inline-block;
  margin: 20px 20px 5px 20px;
  padding: 3px 10px;
  text-align: center;
}

/* kitty theme */
.Synonyms-li-kitty {
  background: #f9e5cf;
  color: #ffa726;
  display: inline-block;
  margin: 20px 20px 5px 20px;
  padding: 3px 10px;
  text-align: center;
}
